@charset "UTF-8";
/*Сбрасывалка стилей */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
}

ol, ul {
  list-style: none;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after {
  content: "";
}

q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

/*Конец сбрасывалки стилей */
/*--------------------Верхнее меню------------------- */
/*--------------------Эту часть можно засунуть в отдельный css, т.к. она самая общая------------------- */
.topbar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 40px;
  font-size: 12px;
}

.upbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#131313), to(#2d2d2d));
  background-image: -webkit-linear-gradient(top, #131313, #2d2d2d);
  background-image: -o-linear-gradient(top, #131313, #2d2d2d);
  background-image: linear-gradient(to bottom, #131313, #2d2d2d);
  height: 40px;
}

.upbar_menu {
  float: left;
  width: 50px;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  z-index: 101;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background: -webkit-linear-gradient(top, transparent, transparent);
  background: -o-linear-gradient(top, transparent, transparent);
  background: linear-gradient(to bottom, transparent, transparent);
}

.upbar_menu a {
  display: block;
  height: 100%;
  width: 50px;
}

.upbar_menu:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#2d2d2d), to(#868686));
  background: -webkit-linear-gradient(top, #2d2d2d, #868686);
  background: -o-linear-gradient(top, #2d2d2d, #868686);
  background: linear-gradient(to bottom, #2d2d2d, #868686);
}

.upbar_logo h5 a {
  color: #d4d4d4;
  font-size: 25px;
  font-family: 'Tahoma', sans-serif;
  font-weight: bold;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.upbar_logo h5 a:hover {
  color: white;
}

.upbar_logo h5 a:active {
  font-size: 24px;
}

.menu_img {
  padding: 14px 0 0 0;
}

@media screen and (max-width: 800px) {
  .upbar_logo {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  .upbar_logo {
    float: left;
    display: inline;
    width: 190px;
    position: absolute;
    padding: 9px 10px 0 50px;
    margin-left: 5px;
    z-index: 100;
  }
}

.upbar_search {
  max-width: 600px;
  width: 50%;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 720px) {
  .upbar_search {
    position: relative;
    left: 50px;
    top: -2px;
  }
}

@media screen and (min-width: 721px) {
  .upbar_search {
    position: relative;
    left: 250px;
    top: -2px;
  }
}

.upbar input {
  width: 100%;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #717171;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2d2d2d;
  font-family: 'Roboto',Tahoma;
  color: #ffffff;
  -webkit-box-shadow: 2px 2px 10px rgba(250, 250, 250, 0.45);
          box-shadow: 2px 2px 10px rgba(250, 250, 250, 0.45);
  /* -webkit-transition: all 200ms cubic-bezier(0.4, 0, 1, 1);
   *-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
   *-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
   *transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); */
}

.upbar input::-webkit-input-placeholder, .upbar input::-moz-placeholder, .upbar input:-moz-placeholder, .upbar input:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.upbar input:focus::-webkit-input-placeholder, .upbar input:focus::-moz-placeholder, .upbar input:focus:-moz-placeholder, .upbar input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input {
  -webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
}

input:hover {
  border: 2px solid #ffd400;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(52, 152, 219, 0.2) inset;
          box-shadow: 1px 1px 3px 1px rgba(52, 152, 219, 0.2) inset;
}

input:focus {
  border: 2px solid #ffd400;
  -webkit-box-shadow: 0px 0px 0px 0px #3498db;
          box-shadow: 0px 0px 0px 0px #3498db;
  background-color: rgba(0, 0, 0, 0.5);
}

.upbar input::-webkit-input-placeholder {
  color: #d4d4d4;
}

.upbar input::-moz-placeholder {
  /* Firefox 19+ */
  color: #d4d4d4;
}

.upbar input:-ms-input-placeholder {
  color: #d4d4d4;
}

.upbar input:-moz-placeholder {
  /* Firefox 18- */
  color: #d4d4d4;
}

/*Меню с алфавитным указателем */
.abc-link {
  color: #d4d4d4;
  display: inline-block;
  float: right;
  margin: 1em 0 18px 10px;
}

.abc-link .drop-menu-main .drop-down {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.abc-link .drop-menu-main .drop-down:hover {
  color: #ffd400;
  cursor: pointer;
}

.abc-link #abc1 {
  font-size: 2em;
}

.search_q {
  display: inline-block;
  width: 100%;
}

.upbar_usermenu {
  display: block;
  float: right;
}

.my_avatar {
  width: 40px;
  height: 40px;
  display: inline-block;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin-right: 20px;
  line-height: 50px;
  margin: 4px 0;
}

.upbar_arrow {
  background: url(../images/head_arrow.png) no-repeat;
  background-position: right 0;
  margin: 23px 8px 0 7px;
  width: 8px;
  height: 4px;
  opacity: 0.45;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.drop-down {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 5px;
}

.upbar_usermenu .drop-down {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.upbar_usermenu .drop-down:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d2d2d), to(#868686));
  background-image: -webkit-linear-gradient(top, #2d2d2d, #868686);
  background-image: -o-linear-gradient(top, #2d2d2d, #868686);
  background-image: linear-gradient(to bottom, #2d2d2d, #868686);
}

.upbar_usermenu .drop-down:active {
  background-color: #d4d4d4;
}

a.likes_ind {
  background-color: #9c3636;
}

a.reply_ind {
  background-color: #1D93E6;
}

a.reply_forum_ind {
  background-color: #CE5209;
}

.topbar .upbar .my_notif {
  padding: 2px 4px;
  color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.upbar_likes {
  float: right;
  display: inline;
  margin-right: 0px;
  margin: 18px 5px 0 0;
}

/*--------------------Строка навигации------------------- */
.navibar {
  height: 20px;
  padding-left: 10px;
  background-color: #2d2d2d;
  border: 5px solid #2d2d2d;
}

.stock_forum .navibar a {
  color: #d4d4d4;
  font-size: 12px;
  font-family: 'Roboto',Tahoma;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.stock_forum .navibar a:hover {
  color: #fff;
}

ul.navitext li {
  display: inline;
  padding: 3px;
  color: #d4d4d4;
  font-size: 12px;
  font-family: 'Roboto',Tahoma;
}

/*--------------------правый скроллер вверх-вниз------------------- */
.right_scroller {
  font-size: 0;
  position: fixed;
  right: 30px;
  bottom: 10px;
  z-index: 100;
}

.scroll_up {
  -webkit-border-radius: 10px 0px 0 10px;
          border-radius: 10px 0px 0 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(#a9a9a9), to(#525252));
  background: -webkit-linear-gradient(bottom, #a9a9a9, #525252);
  background: -o-linear-gradient(bottom, #a9a9a9, #525252);
  background: linear-gradient(to top, #a9a9a9, #525252);
}

.scroll_down {
  -webkit-border-radius: 0 10px 10px 0px;
          border-radius: 0 10px 10px 0px;
  margin-left: -1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#525252));
  background: -webkit-linear-gradient(top, #a9a9a9, #525252);
  background: -o-linear-gradient(top, #a9a9a9, #525252);
  background: linear-gradient(to bottom, #a9a9a9, #525252);
}

.scroll_down a {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.scroll_up, .scroll_down {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #525252;
  width: 40px;
  height: 40px;
}

.scroll_up a, .scroll_down a {
  display: block;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background: transparent url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='iso-8859-1'?%3E %3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E %3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='401.949px' height='401.949px' viewBox='0 0 401.949 401.949' style='enable-background:new 0 0 401.949 401.949;' xml:space='preserve' fill='%23fff'%3E %3Cg%3E %3Cg%3E %3Cg id='Layer_5_60_'%3E %3Cpath d='M328.508,173.212L211.214,4.948c-5.633-6.598-14.846-6.598-20.479,0L73.445,173.209 c-5.631,6.599-3.146,11.996,5.529,11.996h49.068c8.672,0,15.77,7.097,15.77,15.771l0.077,51.518v133.428l-0.021,0.292 c0.003,8.676,7.321,15.734,15.991,15.736l82.789-0.002c8.674,0,15.771-7.096,15.771-15.766l-0.279-185.207 c0-8.674,7.094-15.771,15.769-15.771h49.066C331.647,185.205,334.136,179.808,328.508,173.212z'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E") no-repeat center;
  -webkit-background-size: 50% 50%;
          background-size: 50%;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.scroll_up a:hover, .scroll_down a:hover {
  background-color: #525252;
}

.scroll_up a:active, .scroll_down a:active {
  background-color: white;
}

/*--------------Левое меню со ссылками--------------- */
.company_bar h2 {
  font-family: 'Roboto', Tahoma, sans-serif;
  color: #fff;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.links-to-forum {
  margin-top: 20px;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.links-to-forum a:hover {
  color: white;
}

.company_bar .links-to-forum {
  color: #d4d4d4;
}

.company_bar .links-to-forum a {
  color: #99d4ff;
}

#admin-links a {
  color: #d4d4d4;
  border-bottom: 1px dashed white;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#admin-links a:hover {
  color: #fff;
}

/*выползающее меню слева для маленьких экранов */
@media screen and (max-width: 1024px) {
  .company_bar {
    display: none;
  }
  .hidden_menu {
    display: block;
    position: absolute;
    top: 40px;
    left: 0px;
    float: left;
    width: 18px;
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
    border: 1px solid #6f6f6f;
    border-left-width: 0;
    color: #d4d4d4;
    -webkit-border-radius: 0px 5px 5px 0;
            border-radius: 0px 5px 5px 0;
    background-color: #2d2d2d;
    background-image: url("../img/hidden.png");
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hidden_menu a {
    display: block;
    height: 100%;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .hidden_menu a:hover {
    background-color: #4d4d4d;
    background-image: url("../img/hidden2.png");
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 1025px) {
  .stock_forum .company_bar a {
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .stock_forum .company_bar a:hover {
    color: white;
  }
  .company_bar {
    position: absolute;
    top: 50px;
    left: 0px;
    float: left;
    line-height: 25px;
    margin: 0 10px;
    color: #77b3ff;
    font-family: 'Roboto', Tahoma, sans-serif;
    font-size: 12px;
    width: 155px;
  }
  .hidden_menu {
    display: none;
  }
}

/*--------------содержимое от хедера до футера-------------- */
@media screen and (min-width: 1025px) {
  .forum_content {
    margin: 40px 20px 0 180px;
    background-color: white;
    -webkit-border-radius: 2px;
            border-radius: 2px;
  }
}

@media screen and (max-width: 1024px) {
  .forum_content {
    margin: 40px 20px 0 20px;
    background-color: white;
    -webkit-border-radius: 2px;
            border-radius: 2px;
  }
}

.stock_forum {
  background-color: #2d2d2d;
  font-family: 'Open Sans', Verdana, sans-serif;
  display: block;
  height: 100%;
  min-width: 400px;
}

.stock_forum a {
  text-decoration: none;
  color: #77b3ff;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.stock_forum a:hover {
  color: #c7c7c7;
}

/*-----------------График, фундаментал и календарь------------------ */
.chart_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}

.chart_wrapper1 {
  -webkit-box-flex: 3;
  -webkit-flex: 3 1 Auto;
      -ms-flex: 3 1 Auto;
          flex: 3 1 Auto;
  height: 400px;
}

.chart_wrapper2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 400px;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  background-color: white;
}

.fundam_table {
  margin: 20px 0 0 10px;
  border-spacing: 5px;
  font-size: 12px;
}

.fundam_table a {
  font-size: 12px;
  color: #222;
  text-decoration: underline;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.fundam_table a:hover {
  color: red;
}

#down {
  color: red;
}

#up {
  color: green;
}

.chart_wrapper2 h2 {
  margin: 10px;
}

/*--------------Заголовок форума H1-------------- */
.stock_forum h1 {
  font-family: 'Roboto', Tahoma, sans-serif;
  color: #000000;
  font-weight: normal;
  font-size: 25px;
  margin: 15px 0 0 10px;
  text-align: center;
}

/*--------------Пагинатор-------------- */
.forum_paginator {
  margin: 20px 0 20px 15px;
  text-align: center;
}

.forum_paginator ul li {
  list-style: none;
  display: inline;
  margin-right: 5px;
}

.forum_paginator a {
  color: #77b3ff;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.forum_paginator a:hover {
  color: #99d4ff;
}

/*--------------Блок комментариев и блок рекламы-------------- */
.ads_bar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 300px;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  margin: 10px;
  padding: 0;
}

.content_wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 560px;
      -ms-flex: 1 1 560px;
          flex: 1 1 560px;
  margin: 10px;
  overflow: hidden;
}

/*--------------Вставлялка комментария-------------- */
.comment_writer {
  padding: 0 0 20px;
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden;
  position: relative;
}

.write_comment_box {
  border: 2px solid #e2e2e2;
  height: 50px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.write_comment_box:hover {
  border: 2px solid #77b3ff;
}

.comment-notif {
  margin: 20px 0 0 10px;
  line-height: 30px;
  color: #a9a9a9;
}

/*--------------Комментарии форума-------------- */
/*.cmt_body .text  {font-family:Verdana;} */
.forum_cmts {
  padding-top: 20px;
  margin: 0 10px 0 0;
}

.cm_wrap {
  margin: 0 10px 20px 50px;
  font-size: 14px;
  line-height: 19px;
}

.avtr_box {
  float: left;
  margin-left: -50px;
  width: 50px;
  height: 50px;
}

.cmt_body {
  margin: 0 10px;
}

.a_name {
  font-weight: bold;
  color: #77b3ff;
}

.a_time {
  color: #767676;
  margin-left: 20px;
}

.cm_ftr {
  margin-top: 7px;
}

.cm_ftr b {
  color: #767676;
  font-weight: normal;
}

/*---------------------------Факторы роста и падения----------------------------- */
.list-reasons {
  list-style-image: url("../img/up.gif");
  padding: 5px;
}

.reasons li {
  margin: 10px 0;
}

.list-reasons2 {
  list-style-image: url("../img/down.gif");
  padding: 5px;
}

.reasons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.reasons-up {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1 1;
  min-height: 100px;
  border: 10px solid #d4d4d4;
  padding-left: 25px;
  margin-right: 5px;
}

.reasons-down {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1 1;
  min-height: 100px;
  border: 10px solid #909090;
  padding-left: 25px;
  margin-right: 5px;
}

.add-factor {
  text-align: center;
  height: 100%;
  margin-bottom: 20px;
}

/*----------------------------Футер с новостями---------------------------- */
.news-wrapper {
  background-color: #2d2d2d;
}

.fooooooter {
  height: 300px;
  background-color: #2d2d2d;
}

.news-wrapper .news-head a {
  color: white;
}

.news-head a {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.news-head a:hover {
  color: red;
}

.news-wrapper a {
  color: #99d4ff;
  font-weight: bold;
  line-height: 25px;
}

.company_description {
  margin: 0 10px 20px 10px;
  font-size: 14px;
  line-height: 19px;
}

.logo_place {
  margin: 20px 0;
}

@media screen and (max-width: 1024px) {
  .yandex_wrapper {
    display: none;
  }
}

.content_plus_ad {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}

/*Формат меню под комментарием */
.reply {
  display: inline-block;
  vertical-align: top;
}

#rp2 {
  margin-left: 15px;
  margin-left: 15px;
}

a.reply {
  color: #555555;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

a.reply:hover {
  color: #989898;
}

.th {
  display: inline-block;
  width: 16px;
  height: 24px;
  margin-left: 15px;
}

#th-up {
  background: url(../img/thumbs3.gif) no-repeat scroll 0px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#th-up:hover {
  background: url(../img/thumbs3.gif) no-repeat scroll -30px 0px;
}

#th-dn {
  margin-left: 5px;
  background: url(../img/thumbs3.gif) no-repeat scroll -15px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#th-dn:hover {
  background: url(../img/thumbs3.gif) no-repeat scroll -45px 0px;
}

/*Если нажаты кнопки лайка или дизлайка */
#th-up-p {
  background: url(../img/thumbs3.gif) no-repeat scroll -30px 0px;
}

#th-dn-p {
  margin-left: 5px;
  background: url(../img/thumbs3.gif) no-repeat scroll -45px 0px;
}

.cm_mrk {
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

#red_mrk {
  color: red;
}

#grn_mrk {
  color: green;
}

#cm_opt {
  display: inline-block;
  width: 16px;
  height: 24px;
  margin-left: 15px;
  background: url(../img/thumbs3.gif) no-repeat scroll -60px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#cm_opt:hover {
  background: url(../img/thumbs3.gif) no-repeat scroll -75px 0px;
}

/*Конец Формат меню под комментарием */
/*Временные стили */
.temp_block {
  display: block;
  margin: 30px 0;
  width: 100%;
  clear: both;
}

.temp_block .temp_headers li.more {
  text-align: center;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid transparent;
  font-size: 1.5em;
  padding: 10px 0;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.temp_block .temp_headers li.more:hover {
  border: 1px solid #99d4ff;
}

.inside_li {
  text-align: center;
}

.inside_li:before {
  content: '';
  width: 14px;
  height: 20px;
  display: inline-block;
  background: url(http://smart-lab.ru/templates/skin/smart-lab-x3/images/fire.jpg) no-repeat;
}

.temp_block .temp_headers li.cal-date {
  text-align: center;
  background-color: #ffffff;
  font-weight: bold;
  padding: 10px 0;
}

.temp_headers a {
  margin-left: 1em;
  color: black;
}

.temp_headers li {
  padding: 10px 70px 10px 0;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.temp_headers li:last-child a {
  margin: 0px;
}

.last_link {
  margin: 0px;
  padding: 0px;
}

/*.temp_headers li:hover{border: 3px solid #6B6B6B;} */
.temp_headers li i {
  font-style: normal;
  font-weight: bold;
}

.temp_headers li b {
  font-weight: normal;
  float: right;
  margin-right: -30px;
  clear: both;
  display: inline-block;
}

.temp_headers li u {
  text-decoration: none;
  color: green;
}

.temp_micex_info {
  text-align: center;
}

.temp_micex_info i {
  font-style: normal;
  font-size: 1.5em;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

.temp_headers li:nth-child(even) {
  background-color: #f3f3f3;
}

.alphabet a {
  color: #4a4a4a;
  font-size: 1.5em;
  margin-left: 5px;
}

#indexMMVBChanges {
  width: 50%;
  float: left;
}

#indexStocksChanges {
  width: 50%;
  float: right;
}

/*Выпадающее юзер-меню */
.drop-down {
  width: auto;
  cursor: pointer;
}

.drop-menu-main a, .drop-down, .drop-menu-main-sub .title {
  text-decoration: none;
  color: #ffffff;
  padding: 0 10px 0 0;
}

.upbar_usermenu .drop-down {
  padding-left: 10px;
}

.upbar_usermenu .drop-menu-main.dropped .upbar_arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.abc-link .drop-menu-main .drop-down {
  padding: 0px;
}

.drop-menu-main {
  float: left;
}

.drop-menu-main-sub {
  position: absolute;
  background: #2d2d2d;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  z-index: 100;
  width: auto;
  padding: 5px 0 5px;
  margin: 10px 0 0 -70px;
  border: 1px solid #2d2d2d;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, 15px, 0);
          transform: translate3d(0, 15px, 0);
  -webkit-transition: opacity .15s ease, -webkit-transform .2s ease-out;
  transition: opacity .15s ease, -webkit-transform .2s ease-out;
  -o-transition: transform .2s ease-out, opacity .15s ease;
  transition: transform .2s ease-out, opacity .15s ease;
  transition: transform .2s ease-out, opacity .15s ease, -webkit-transform .2s ease-out;
}

.drop-menu-main-sub.showing {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  pointer-events: all;
}

.drop-menu-main-sub .alphabet {
  position: absolute;
  display: inline-block;
  width: 190px;
  background: #2d2d2d;
  margin: 0px;
  border: 1px solid #2d2d2d;
  margin: 10px 0 0 -90px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  padding: 10px;
}

.drop-menu-main-sub .alphabet a {
  left: 100px;
  display: inline-block;
  width: 30px;
  float: left;
  text-align: center;
}

.drop-menu-main-sub a {
  color: #d4d4d4;
  display: block;
  padding: 6px 12px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.drop-menu-main-sub a:hover {
  background: #CE5209;
  color: #FFFFFF;
  text-decoration: none;
}

.menu-line {
  display: block;
  margin: 3px 15px;
  border-bottom: 1px solid #949494;
}

.nocenter {
  margin-top: 1em;
}

.stock_forum .nocenter h1 {
  text-align: left;
  display: inline;
}

.stock_forum .nocenter .temp_micex_info {
  display: inline;
  margin-left: 2em;
}

/*# sourceMappingURL=forum.css.map */
